*.1bpp
*.4bpp
*.8bpp
*.DS_Store
*.bak
*.bat
*.diff
*.dump
*.elf
*.exe
*.fwjpnfont
*.gba
!data/*.gba
*.sgm
*.sa1
*.sg1
*.gbapal
*.hwjpnfont
*.i
*.idb
*.id0
*.id1
*.id2
*.latfont
*.lz
*.map
*.nam
*.o
*.pcm
*.pl
*.rl
*.s.old
*.s.old2
*.sa*
*.swo
*.swp
*.til
.fuse*
.idea/
Thumbs.db
build/
dist/
*.local.mk
cmake-build-*
audio/**/*.bin
audio/music/*.s
_Deparsed_XSubs.pm
porymap.*.cfg
prefabs.json
.vscode/*.*
*.js
*.sym
